@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body {
    margin: 0px !important;
    padding: 0px !important;
}

html{
    height: 100vh;
}

body{
    font-family: 'Josefin Sans', cursive;
}

hr {
    border-top: 1px solid #ccc;
}

.text-head{
    font-size: 0.7rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}